$color-primary: #49c5b6;
$color-secondary: #0e1574;
$color1: #fff;
$color2: #f4f7f6;
$color3: #a6a6a6;
$color4: #747474;

$max-content-size: 948px;

$breakpoint-tablet: 768px;

h1 {
  font-size: 48px;
  font-weight: 600;
  color: $color-secondary;
  margin: 16px 8px;
}

input {
  padding: 12px;
  margin: 8px 0;
}

.btn-primary {
  background: $color-primary;
  border-color: $color-primary;
}

.btn-secondary {
  background: $color-secondary;
  border-color: $color-secondary;
}
